<template>
 
  <card   



   type="channel">
 
    <p class="card-text">
 
    </p>
 
    <div class="author">
 
      <div class="block block-one"></div>
 
      <div class="block block-two"></div>
 
      <div class="block block-three"></div>
 
      <div class="block block-four"></div>

        
        <channel-image 

          v-if="channel"

          :value="path(channel.photographs, this.type ) "

          @close="error = false"

          @loaded="onLoad">
          


        </channel-image>

        <h5 class="title"> {{ this.title }} </h5>


        <p class="invalid-feedback"

                                  v-if="error"

                                  v-text= "error_msg">

                                </p>
 
 
      <p class="description">

        Synac channel description
 
      </p>
 
    </div>
 
    <p></p>
 
    <p class="card-description">
 
      Synac channel description here
 
    </p>
 
  </card>

</template>

<script>
import ChannelImage from "../../../components/ImageUpload2";

export default {
  components: {
    ChannelImage
  },

  props: {
    channel: {
      type: Object,

      default: () => {
        return {};
      }
    },

    type: {
      type: String
    },

    title: {
      type: String
    }
  },

  data() {
    return {
      error: false,

      error_msg: ""
    };
  },

  computed: {
    endpoint() {
      return `/api/channels/${this.channel.slug}/image`;
    }
  },

  methods: {
    onLoad(image) {
      this.persist(image.file);
    },

    persist(image) {
      let data = new FormData();

      data.append("image", image);

      data.append("type", this.type);

      axios
        .post(this.endpoint, data)

        .then(() => {
          this.$toaster.success("channel Image Uploaded!.");
        })

        .catch(error => {
          dd(error, "errors here");

          this.error = true;

          this.error_msg = "This image is not valid format ";
        });
    },

    path(colloction, hint) {
      let image = _.find(colloction, ["type", hint]);

      if (image) {
        return image.path;
      }

      return ``;
    }
  }
};
</script>

<style>
</style>
