<template>
  <card>


      <form method="POST"

                       class="form-orange"

                         action=""

                          @submit.prevent="persist"


                                    @keydown = "form.errors.clear($event.target.name)"

                                    @change = "form.errors.clear($event.target.name)"

                          >

            

            <div class="row">

              <div class="col-md-4 pr-md-1">

                  <div class="form-group">

                      <label for="title">


                        {{ trans('channels.englishName') }}

                      </label>

                      <input

                       type="text"

                        class="form-control"

                        name="name"

                          id="name"

                            v-model = "form.name"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('name')"

                                  v-text= "form.errors.get('name')">

                                </p>


              </div>

              <div class="col-md-4 pl-md-1">


                  <div class="form-group">

                      <label for="title">

                        {{ trans('channels.arabicName') }}

                      </label>

                      <input

                       type="text"

                        class="form-control"

                        name="name_ar"

                          id="name_ar"

                            v-model = "form.name_ar"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('name_ar')"

                                  v-text= "form.errors.get('name_ar')">

                                </p>


              </div>


               <div class="col-md-4 pl-md-1">


                  <div class="form-group">

                      <label for="short_name">

                        {{ trans('channels.shortName') }}

                      </label>

                      <input

                       type="text"

                        class="form-control"

                        name="short_name"

                          id="short_name"

                            v-model = "form.short_name"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('short_name')"

                                  v-text= "form.errors.get('short_name')">

                                </p>


              </div>


            </div>


            <div class="row">

              <div class="col-md-12">

                   <div class="form-group">


                        <wysiwyg

                           :name="`item_one_description_en`"

                            @customKeyDown="handler"


                             :value="form.item_one_description_en"

                               v-model="form.item_one_description_en"

                                 :placeholder="`Channel item one content description in english`"

                                   ref="descriptionOneEnTrix"


                                 ></wysiwyg>


                                 

                      </div>


                        <p class="invalid-feedback"

                                  v-if="form.errors.has('item_one_description_en')"

                                  v-text= "form.errors.get('item_one_description_en')">

                        </p>


              </div>

            </div>

            <div class="row">

              <div class="col-md-12">

                   <div class="form-group">


                        <wysiwyg

                                    :name="`item_one_description_ar`"


                                    @customKeyDown="handler"



                                      :value="form.item_one_description_ar"

                                        v-model="form.item_one_description_ar"

                                          :placeholder="trans('channels.createItemOneDescription')"

                                            ref="descriptionOneArTrix"


                                          ></wysiwyg>


                                 

                      </div>


                        
                        <p class="invalid-feedback"

                                  v-if="form.errors.has('item_one_description_ar')"

                                  v-text= "form.errors.get('item_one_description_ar')">

                        </p>


              </div>

            </div>


            <row>
              <div class="col-md-12">

                  <div class="form-group">


                        <wysiwyg

                           :name="`item_two_description_en`"

                           @customKeyDown="handler"



                             :value="form.item_two_description_en"

                               v-model="form.item_two_description_en"

                                 :placeholder="`Channel item two content description in english`"

                                   ref="descriptionTwoEnTrix"


                                 ></wysiwyg>


                              

                      </div>


                        <p class="invalid-feedback"

                                  v-if="form.errors.has('item_two_description_en')"

                                  v-text= "form.errors.get('item_two_description_en')">

                                </p>


              </div>

            </row>



            <row>
              <div class="col-md-12">

                  <div class="form-group">


                         <wysiwyg

                                    :name="`item_two_description_ar`"


                                    @customKeyDown="handler"



                                      :value="form.item_two_description_ar"

                                        v-model="form.item_two_description_ar"

                                          :placeholder="trans('channels.createItemTwoDescription')"

                                            ref="descriptionTwoArTrix"


                                          ></wysiwyg>


                              

                      </div>


                                  <p class="invalid-feedback"

                                  v-if="form.errors.has('item_two_description_ar')"

                                  v-text= "form.errors.get('item_two_description_ar')">

                                </p>


              </div>

            </row>


                


                                 
            


            <div class="row">
              
            


               <div class="col-md-6">

                 <label for="position">


                        {{ trans('courses.position') }}


                      </label>

                      <select

                            id="postion"

                              name="postion"



                                v-model = "form.position"

                                  class="form-control"  >

                          <option value='' selected>{{ trans('threads.choose') }}</option>


                          <option

                            v-if="positions"

                            v-for="index in positions" :key="index"


                              :value="index"

                              v-text="index"

                            >


                          </option>

                        </select>

                      </div>


                        <p class="invalid-feedback"

                                  v-if="form.errors.has('position')"

                                  v-text= "form.errors.get('position')">

                                </p>
                
                
              

               <div class="col-md-6">

                  <div class="form-group">
                      
                      <label for="visibility">Visibility</label>
                      
                      <select 

                       id="visibility"

                       name="visibility"

                       class="form-control"

                       v-model="form.visibility"  

                       >
                      
                       <option value='' selected>Choose...</option>
                      
                       
                      
                       <option value="1">Private</option>

                       <option value="2">Unlisted</option>
                        
                       <option value="3">Public</option>

                      </select>

                  </div>


                  <p class="invalid-feedback"

                                    v-if="form.errors.has('visibility')"

                                    v-text= "form.errors.get('visibility')">

                                  </p>

                
       


              </div>

            </div>


            <div class="row" >
                 
                 <div class="col-md-3">

                    <label for="custom-toggle">

                        {{ trans('courseVideos.locked') }}

                      </label>
                   

                 </div>

                 <div class="col-md-3">

                  <label class="custom-toggle">


                
                  <input type="checkbox" v-model="form.locked" >
                  
                  <span class="custom-toggle-slider rounded-circle"></span>
              
                </label>
                   

                 </div>


                 <p class="invalid-feedback"

                                    v-if="form.errors.has('locked')"

                                    v-text= "form.errors.get('locked')">

                                  </p>


               </div>


            </div>

            <button

                          style="margin: 10px;"

                            type="submit"

                              :disabled="form.errors.any()"

                                class="btn btn-primary">



                          {{ trans('threads.publish') }}

                        </button>



          </form>
  </card>
</template>




<script type="text/javascript">
export default {
  data() {
    return {
      form: new Form({
        name: "",

        name_ar: "",

        short_name: "",

        item_one_description_en: "",

        item_one_description_ar: "",

        item_two_description_en: "",

        item_two_description_ar: "",

        conver: null,

        circle: null,

        position: "",

        visibility: "",

        locked: false
      }),

      stored: false,

      channel: [],

      positions: null
    };
  },

  mounted() {
    this.fetchPosition();
  },

  computed: {
    endPoint() {
      return `/api/channels`;
    },

    positionEndPoint() {
      return `/api/channels/position`;
    }
  },

  methods: {
    fetchPosition() {
      axios
        .get(this.positionEndPoint)

        .then(({ data }) => {
          this.positions = data.position;
        })

        .catch(error => {
          dd(error, "iam error here of hitting channel end point");
        });
    },

    persist() {
      this.form
        .post(this.endPoint)

        .then(({ data }) => {
          this.channel = data;

          this.stored = true;

          this.form.locked = false;

          this.$emit("posted", data);

          this.fetchPosition();

          this.$toaster.success("Channel created successfully.");
        })

        .catch(error => {
          this.stored = false;

          this.$toaster.error("Something went wrong.");
        });
    },

    handler(name) {
      this.form.errors.clear(name);
    }
  }
};
</script>


<style>
</style>
