<template>
  
  <div class="row">
    
    <div class="col-md-8">

       <h5  class="title">

        create

      <!-- {{ trans('courses.create') }} -->



      </h5>

    
      <create-topic-form  

            @posted="setCourseData">
    
               </create-topic-form>
    
    </div>

    <div class="col-md-4">

      <topic-card 

          v-if="updateImageUrl" 
            :topic="topic" 
              v-model = "topic"

            ></topic-card>

    </div>

  </div>

</template>


<script>
import CreateTopicForm from "./Partials/CreateTopicForm";

import TopicCard from "./Partials/TopicCard";

export default {
  components: {
    CreateTopicForm,

    TopicCard
  },

  data() {
    return {
      updateImageUrl: false,

      topic: null
    };
  },

  methods: {
    setCourseData(posted) {

      this.updateImageUrl = 1;
      this.topic = posted;

      events.$emit('attachableType', parseInt(posted.content_type) )

    }
  }
};
</script>
<style>
</style>
