<template>

    <div class="row">

        <div class="col-12">

          <div class="card card-white">

            <div class="card-header border-0">


              <h5 class="title">Forum topics</h5>

              <p class="category">

                Do you want to add new One

                <a href="https://nucleoapp.com/?ref=1712">



                </a>



                <router-link  :to="`topic/create`">

                  ADD

                </router-link>



              </p>


              <div class="form-group">

                        <label for="course_id">


                            choose course
                              <!-- {{ trans('topics.chooseAchannel') }} -->

                              </label>

                        <select

                            id="course_id"

                              name="course_id"

                                @change="filter"

                                  v-model = "course_id"

                                    class="form-control"  >

                          <option :value="0">
                            <!-- {{ trans('threads.choose') }} -->
                            choose
                            </option>


                          <option

                            v-for="(channel) in courses"

                            :key="channel.id"

                              :value="channel.id"

                              v-text="channel.name"

                            >


                          </option>

                        </select>

                    </div>

            </div>


            <div class="card-body all-icons">

            <div class="table-responsive">

              <table class="table align-items-center table-flush white">

                <thead class="thead-light">

                  <tr>

                    <th scope="col">Course</th>

                    <th scope="col"> Main Action </th>

                    <th scope="col">Budget</th>

                    <th scope="col">Channel</th>

                    <th scope="col">Status</th>

                    <th scope="col">Users</th>

                    <th scope="col">Completion</th>

                    <th scope="col"></th>

                  </tr>

                </thead>

                <tbody v-if="topics">

                  <tr v-for="(topic, index) in topics" :key="index" >

                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder"

                            :src="topic.image_filename"

                          >

                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm"> {{ topic.name  }}  </span>
                        </div>
                      </div>
                    </th>

                     <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="#">Action</a>



                          <router-link

                                  class="dropdown-item"

                                    :to="`topic/update/${topic.slug}`">

                            update

                          </router-link>


                          <a class="dropdown-item" href="#" @click.prevent="destory(topic)"
                           >destory</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </td>

                    <td>
                        temp
                        <!-- <upload-btn

                            v-if="course"

                              :course="course">


                              </upload-btn> -->

                    </td>


                    <td>
                      $2,500 USD
                    </td>



                    <td>

                      <!-- {{ topic.course.name  }} -->

                    </td>



                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i> pending
                      </span>
                    </td>
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">60%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>

                  </tr>

                </tbody>
              </table>
            </div>

            </div>

            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fa fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fa fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>




    </div>
</template>
<script>
import { BaseTable } from "../../components";

import uploadBtn from "../../components/BtnUpload.vue";

const tableColumns = [
  "Course",
  "Budget",
  "Channel",
  "Status",
  "Users",
  "Completion"
];

import { mapActions, mapState, mapGetters, mapMutations } from "vuex";

export default {
  components: {
    BaseTable,
    uploadBtn
  },

  data() {
    return {
      table1: {
        title: "Simple Table",

        columns: [...tableColumns]
      },

      course_id: 0

      // topics: [],
      // courses : [],

      // WholeTopics : []
    };
  },

  async mounted() {
    await Promise.all([this.fetchTopics(), this.fetchCourses()]);

    if(this.$route.query.id) {
       this.course_id = parseInt(this.$route.query.id)
       this.filter();
    }

  },

  computed: {
    ...mapGetters(["topics", "courses", "wholeTopics"]),
  },

  methods: {
    ...mapMutations(["filterTopics"]),
    ...mapActions(["fetchCourses", "fetchTopics"]),

    destroyTopicEndPoint(topic){
      return `/api/topics/${topic.slug}`;
    },

    async destory(topic){
      // Call api to delete topic
      try {
        await axios.delete(this.destroyTopicEndPoint(topic));
        let index = this.topics.findIndex((tpc)=> {
          return tpc.id == topic.id
        });
        this.topics.splice(index, 1);

      } catch (error) {

      }

    },

    filter() {
      this.$store.commit("filterTopics", this.course_id);
    }

  }
};
</script>
<style>
</style>
