<template>
  
  <div class="row">

    
    <div class="col-md-8">

      <h5  class="title">

        Updating

      <!-- {{ trans('courses.create') }} -->

      </h5>
    
    
      <edit-topic-form 

          :topic = "topic"

          @posted="setNew">
    
          </edit-topic-form>
    
    </div>

    <div class="col-md-4">

      <topic-card 
          v-if="topic"
          
           :topic = "topic"

            >

              </topic-card>

    </div>

  </div>

</template>


<script>

import EditTopicForm from "./Partials/EditTopicForm";

import TopicCard from "./Partials/TopicCard";



export default {
  components: {
    EditTopicForm,

    TopicCard
  },

  data() {
    return {
      updateImageUrl: false,

      topic: null
    };
  },

  computed: {
    endPoint() {
      return `/api/topics/${this.$route.params.slug}`;
    }
  },

  created() {
    this.fetch();
  },

  methods: {
    fetch() {
      axios
        .get(this.endPoint)

        .then(({ data }) => {
          this.topic = data.topic;
        })

        .catch(error => {
          dd(error, "iam error here of hitting channel end point");
        });
    },

    setNew(posted) {
      this.updateImageUrl = 1;

      this.topic = posted;
    }
  }
};
</script>
<style>
</style>
