<template>
  
  <div class="row">
    
    <div class="col-md-8">

       <h5  class="title">

        create

      <!-- {{ trans('channels.create') }} -->



      </h5>

    
      <create-channel-form  

            @posted="setChannelData">
    
               </create-channel-form>
    
    </div>

    <div class="col-md-4">

      <channel-card 

        :channel="channel" 

          v-if="updateImageUrl" 

          :type="`cover1`"

           :title="`Cover 1`"

            v-model = "channel"

            ></channel-card>

      <channel-card 

        :channel="channel" 

          v-if="updateImageUrl"

          :type="`circle1`" 

            :title="`circle 1`"

              v-model = "channel"

            ></channel-card>


        <channel-card 

        :channel="channel" 

          v-if="updateImageUrl" 

           :type="`cover2`"

            :title="`Cover 2`"

              v-model = "channel"

            ></channel-card>

      <channel-card 

        :channel="channel" 

          v-if="updateImageUrl"

          :type="`circle2`" 

           :title="`circle 2`"

           v-model = "channel"

            ></channel-card>

    </div>

  </div>

</template>


<script>
import CreateChannelForm from "./Partials/CreateChannelForm";

import ChannelCard from "./Partials/ChannelCard";

export default {
  components: {
    CreateChannelForm,

    ChannelCard
  },

  data() {
    return {
      updateImageUrl: false,

      channel: null
    };
  },

  methods: {
    setChannelData(posted) {
      this.updateImageUrl = 1;

      this.channel = posted;
    }
  }
};
</script>
<style>
</style>
