<template>

    <div class="row">

        <div class="col-12">
          
          <div class="card card-white">

            <div class="card-header border-0">


              <h5 class="title">Forum Channels</h5>
              
              <p class="category">

                Do you want to add new One 

                <a href="https://nucleoapp.com/?ref=1712">

                </a>

         

                <router-link  :to="`channels/create`">

                  ADD

                </router-link>



              </p>


              <div class="form-group">

                        <label for="category_id">


                              category

                              <!-- {{ trans('courses.chooseAchannel') }} -->

                              </label>

                              <!-- @change="filter" -->

                        <select

                            id="category_id"

                              name="category_id"

                                

                                  v-model = "category_id"

                                  :disable="true"

                                    class="form-control"  >

                          <option :value="0">{{ trans('threads.choose') }}</option>


                          <option

                            v-for="(category, index) in categories"

                            :key="category.id"

                              :value="category.id"

                              v-text="category.name"

                            >


                          </option>

                        </select>

                    </div>

            </div>


            <div class="card-body all-icons">

            <div class="table-responsive">
              
              <table class="table align-items-center table-flush white">
                
                <thead class="thead-light">
                  
                  <tr>
                    
                    <th scope="col">Channel</th>

                    <th scope="col">Actions</th>
                    <th scope="col">Budget</th>

                    <th scope="col">Channel</th>
                    
                    <th scope="col">Status</th>
                    
                    <th scope="col">Users</th>
                    
                    <th scope="col">Completion</th>
                    
                  
                  </tr>
                
                </thead>
                
                <tbody>

                  <tr v-for="(channel , index) in channels" :key="index" >
                   
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" 

                            src=""

                          >

                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm"> {{ curLangVal('name', channel )   }}  </span>
                        </div>
                      </div>
                    </th>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <router-link 

                                  class="dropdown-item"  
                                    :to="{ path: 'courses', query: { id: channel.id }}" >

                            show courses

                          </router-link>

                          <router-link 

                                  class="dropdown-item"  

                                    :to="`channels/update/${channel.slug}`">

                            update

                          </router-link>


                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </td>
                    <td>
                      $2,500 USD
                    </td>

                    <td>

                      {{ curLangVal('name', channel )  }}

                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i> pending
                      </span>
                    </td>
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">60%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    
                  </tr>

                </tbody>
              </table>
            </div>

            </div>

            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fa fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fa fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      

      

    </div>
</template>
<script>
import { BaseTable } from "../../components";

const tableColumns = [
  "Channel",
  "Budget",
  "temp",
  "Status",
  "Users",
  "Completion"
];

export default {
  components: {
    BaseTable
  },

  data() {
    return {
      table1: {
        title: "Simple Table",

        columns: [...tableColumns]
      },

      categories: [],

      category_id: 0,

      channels: [],

      whole: []
    };
  },

  created() {
    this.fetch();
  },

  computed: {
    endPoint() {
      return `/api/channels`;
    }
  },

  methods: {
    filter() {
      if (!this.category_id) {
        this.courses = this.whole;

        return;
      }

      this.courses = _.filter(this.whole, { category_id: this.category_id });
    },

    fetch() {
      axios
        .get(this.endPoint)

        .then(({ data }) => {
          this.channels = data.channels;

          this.whole = data.channels;
        })
        .catch(error => {
          dd(error, "iam error here of hitting channel end point");
        });
    }
  }
};
</script>
<style>
</style>
