<template>
  
  <div class="row">
    
    <div class="col-md-8">

       <h5  class="title">

        Create a new team member

      <!-- {{ trans('members.create') }} -->



      </h5>

    
      <create-member-form  

            @posted="setMemberData">
    
               </create-member-form>
    
    </div>

    <div class="col-md-4">

       <member-card 

        :member="member" 

          v-if="updateImageUrl" 

          :type="`cover1`"

           :title="`Cover 1`"

            v-model = "member"

            ></member-card>

      <member-card 

        :member="member" 

          v-if="updateImageUrl"

          :type="`circle1`" 

            :title="`circle 1`"

              v-model = "member"

            ></member-card>



    </div>

  </div>

</template>


<script>
import CreateMemberForm from "./Partials/CreateMemberForm";

import MemberCard from "./Partials/MemberCard";

export default {
  components: {
    CreateMemberForm,

    MemberCard
  },

  data() {
    return {
      updateImageUrl: false,

      member: null
    };
  },

  methods: {
    setMemberData(posted) {
      this.updateImageUrl = 1;

      this.member = posted;
    }
  }
};
</script>
<style>
</style>
