<template>
  
  <div class="row">

    
    <div class="col-md-8">

      <h5  class="title">

        Updating Team Member

      <!-- {{ trans('members.create') }} -->



      </h5>
    
    
      <edit-member-form 

        v-if="dataReady"
 
          :test =" `test here again` "

          :member = "member"

          v-model="member"

          @posted="setNew">
    
          </edit-member-form>
    
    </div>

    <div class="col-md-4">

     <member-card 

      v-if="dataReady"

        :member="member" 

          :type="`cover1`"

           :title="`Cover 1`"

            v-model = "member"

            ></member-card>

      <member-card 


        v-if="dataReady"

        :member="member" 


          :type="`circle1`" 

            :title="`circle 1`"

              v-model = "member"

            ></member-card>


    </div>

  </div>

</template>


<script>
import EditMemberForm from "./Partials/EditMemberForm";

import MemberCard from "./Partials/MemberCard";

export default {
  components: {
    EditMemberForm,

    MemberCard
  },

  data() {
    return {
      updateImageUrl: false,

      member: null,

      dataReady: false
    };
  },

  computed: {
    endPoint() {
      return `/api/team/${this.$route.params.slug}`;
    }
  },

  created() {
    this.fetch();
  },

  methods: {
    fetch() {
      axios
        .get(this.endPoint)

        .then(({ data }) => {
          dd(data, "iam data here");

          this.member = data.member;

          this.dataReady = true;
        })

        .catch(error => {
          dd(error, "iam error here of hitting member end point");
        });
    },

    setNew(posted) {
      this.updateImageUrl = 1;

      this.member = posted;
    }
  }
};
</script>

<style>
</style>
