<template>
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="https://www.barmj.io">
            Barmj.io Team
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="httpss://www.barmj.io">
            Barmj.io Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Licenses
          </a>
        </li>
      </ul>
      <div class="copyright">
        © {{year}} made with <i class="tim-icons icon-heart-2"></i> by
        <a href="https://www.barmj.io" target="_blank">ATH Code</a>&nbsp;&
        <a href="https://www.creative-tim.com" target="_blank">Barmj.io</a> for a better web.
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  data() {
    return {
      year: new Date().getFullYear()
    };
  }
};
</script>
<style>
</style>
