<template>
  
  <div class="row">

    
    <div class="col-md-8">

      <h5  class="title">

        Updating

      <!-- {{ trans('videos.create') }} -->



      </h5>
    
    
      <edit-video-form 

          v-if="ready"

          :video = "video"

          v-model="video"

          @posted="setNew">
    
          </edit-video-form>
    
    </div>

    <div class="col-md-4">

      <video-card 

           :video = "video"

            v-if = "replaceVideo"

            >

              </video-card>

    </div>

  </div>

</template>


<script>
import EditVideoForm from "./Partials/EditVideoForm";

import VideoCard from "./Partials/VideoCard";

export default {
  components: {
    EditVideoForm,

    VideoCard
  },

  data() {
    return {
      replaceVideo: true,

      video: null,

      ready: false
    };
  },

  computed: {
    endPoint() {
      return `/api/videos/${this.$route.params.slug}`;
    }
  },

  created() {
    this.fetch();
  },

  methods: {
    fetch() {
      axios
        .get(this.endPoint)

        .then(({ data }) => {
          this.video = data.video;

          this.ready = true;
        })

        .catch(error => {
          dd(error, "iam error here of hitting channel end point");
        });
    },

    setNew(posted) {
      // this.updateImageUrl = 1;

      this.video = posted;
    }
  }
};
</script>
<style>
</style>
