@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);


body{

  font-family: 'Noto Kufi Arabic', sans-serif !important;
}

#footer .subscribe-form input[type=email] {

    width: 90%;

    margin-right: 40px;

}


#footer .subscribe-form input[type=submit]{


	margin-right: 10px;
}

#contact .wico:before {

	margin-right: 30px;
}

.home-agency #team .items div{

  text-align: right;

}



.navbar .navbar-nav .nav-item .nav-link {

  position: relative;

  color: #fff !important;

  padding: 0.9375rem;

  font-weight: 1000;

  font-size: 13px;

 }

 label{

 	display: block;

 	text-align: right;

 }

 .slider h1{


 	text-align: right;

 }

 .slider p{

 	text-align: right;
 }

 .alert{

 	text-align: right;

 }

trix-editor{
  color:whitesmoke !important;
  text-align: right;
}

.form-group select{
  color: #2b3553 !important;
}


 pre{

 	text-align: left;

 	direction: ltr;


 }

 .dropdown.show .dropdown-menu, .bootstrap-select.show .dropdown-menu:not(.inner), .dropdown-menu.bootstrap-datetimepicker-widget.top.open, .dropdown-menu.bootstrap-datetimepicker-widget.bottom.open, .dropup.show:not(.bootstrap-select) .dropdown-menu, .navbar .dropdown.show .dropdown-menu{

  text-align: right;

 }


.home-agency #team .items .position{

  text-align: right;

}



h1, h2, h3, h4, h5, h6, p, blockquote{

  text-align: right;


}

.widget{

  text-align: right;

}


.widget-posts .widget-content li.format-post{

  text-align: right;

}

.excerpt-text{

  text-align: right;

}

.search-form-icon{

    position: absolute;

    z-index: 2;

    top: 22px;

    left: 25px;

    right: unset;

}

.meta{

  text-align: right;
}


.post-data{

  text-align: right;

}

.search_btn{

  border-radius: 15px 0px 0px 15px !important
}


.search {


  border-radius: 0 15px   15px 0 !important;

}

.attach_btn{

  border-radius: 0 15px   15px 0 !important;

}

.send_btn{

  border-radius: 15px 0px 0px 15px !important
}

#action_menu_btn{

  right: unset;

  left: 10px;

}

.unread-count{

  right: unset;

  left: 15px;


}

.action_menu{

  right: unset;

  left: 15px;

}

.action_menu ul li{

  text-align: right;

}

.invalid-feedback {

    text-align: right;
}
li.comment .comment-text header{

  text-align: right !important;

}

.comment-text{

  text-align: right !important;
}


trix-editor {
  color: #000;

}

.invalid-feedback{

  font-size: 80%;
    font-weight: bold;
    display: inline-block !important;
    width: 100%;
    margin-top: .25rem;
    color: #fb6340 !important;

}


/*
.btn-round:hover{

    background: #00bcd4 !important;

    color:#fff !important;

} */
