<template>
	
	<div style="display: inline-block;">

		 <button 

		 		class="btn btn-1 btn-neutral btn-round"

		 		 

		 		data-toggle="modal"

		 		:data-target="`#uploadVideoModal${course.id}`"

		 		>


		 		{{ trans('courses.uploadVideo') }}

		 		</button>


		 <video-upload :course="course"  ></video-upload>
		

	</div>

</template>


<script type="text/javascript">
import VideoUpload from "./VideoUpload.vue";

export default {
  props: ["course"],

  components: {
    VideoUpload
  }
};
</script>



<style type="text/css">
</style>
