<template>
   <div>
       <div 
            class="alert  alert-flash" 
            
            :class="'alert-'+level"   
            
            role="alert" 
            
            v-show="show" 
            
            v-text="body"
            >
          
        </div>

   </div>
</template>

<script>
export default {
  props: ["message"],
  data() {
    return {
      body: this.message,

      level: "success",

      show: false
    };
  },

  created() {
    if (this.message) {
      this.flash();
    }

    window.events.$on("flash", data => this.flash(data)); // listen to flash global event and events here is just new vue instance
  },

  methods: {
    flash(data) {
      if (data) {
        this.body = data.message;

        this.level = data.level;
      }

      this.show = true;

      this.hide();
    },

    hide() {
      // console.log($('.alert-flash'));
      // $('.alert-flash').delay(2000).fadeOut(1000);
      $(".alert-flash")
        .delay(6000)
        .slideUp();

      setTimeout(() => {
        this.show = false;
      }, 7000);
    }
  }
};
</script>

<style>
.alert-flash {
  position: fixed;

  font-weight: bold;

  font-size: 15px;

  padding: 10px 10px;

  height: 80px;

  z-index: 100;

  right: 30px;

  padding: 1.7rem 1.5rem !important;

  bottom: 100px;
}
</style>
