<template>

	<div>

	
		

		<div class="image__preview">

			<img 

			

			v-if="image"


			:src="image">

			<a class="btn btn-danger preview-cancel" 

			

				@click="$emit('close')"
				
				>
				
				<i class="fa fa-close"></i>

			</a>
			

		</div>

		

		

	

		


	
		

	</div>
	
	

	


</template>


<script type="text/javascript">
export default {
  props: {
    preview: {
      type: [String, File],

      default: null
    }
  },

  data() {
    return {
      image: null
    };
  },

  created() {
    this.setPreview();
  },

  watch: {
    preview: "setPreview"
  },

  methods: {
    setPreview() {
      this.image = this.preview;
    }
  }
};
</script>


<style type="text/css">
.preview-cancel {
  position: absolute;

  top: -10px;

  right: 0;

  border-radius: 0px;
}
</style>
