<template>
	


		<div class="progress progress-bar-striped bg-info" style="height: 20px;">
            
            <div class="progress-bar progress-bar-info" role="progressbar" 

            	aria-valuenow="60"

            		aria-valuemin="0"

            			aria-valuemax="100"

            				:style=" 'width:'+ this.progessValue + '%'">
            
            					<span class="sr-only">{{ this.progessValue }} % Complete</span>
           
            </div>
        </div>
		

	

</template>


<script type="text/javascript">
export default {
  props: ["progessValue"],

  data() {
    return {};
  }
};
</script>


<style type="text/css">
</style>
