<template>


	<div class="modal fade"

		:id="`uploadVideoModal${course.id}`"

			tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">

      <div class="modal-content">

        <div class="modal-header">



          <h5 class="modal-title">Upload Video</h5>

          <button type="button"

           class="close"

           v-if="normal || youtube"

            @click.prevent="reset"

             >

            <i class="material-icons">BACK</i>
          </button>










        </div>

        <div class="modal-body">

        	<upload-choiser

        	@youtube="youtube = true"

        	@normal="normal=true"

        	v-if="!normal && !youtube">



        	</upload-choiser>



              <normal-upload :course="course" v-if="normal"></normal-upload>

              <youtube-upload :course="course" v-if="youtube"></youtube-upload>







		</div>

		<div class="modal-footer">

			<button type="button" class="close" data-dismiss="modal" aria-label="Close">

            <i class="material-icons">close</i>
          </button>

        </div>




        </div>




        </div>

      </div>




</template>

<script type="text/javascript">
import UploadChoiser from "./UploadChoiser.vue";

import NormalUpload from "./NormalUpload.vue";

import YoutubeUpload from "./YoutubeUpload.vue";

export default {
  props: ["course"],

  components: {
    UploadChoiser,

    NormalUpload,

    YoutubeUpload
  },

  mounted() {
    dd(this.course.channel.slug, "Iam course slug");

    dd(this.course.slug, "Iam course slug");
  },

  data() {
    return {
      youtube: false,

      normal: false
    };
  },

  methods: {
    reset() {
      (this.youtube = false), (this.normal = false);
    }
  }
};
</script>


<style type="text/css">

.modal-content{
  width: 800px !important;
}
</style>
