<template>

	<div>

		<input

				type="hidden"

					 :id='id'

					 	 :name="name"

					 	 	 :value="value">

				<textarea class="form-control"

				      id="atInputer"

				      style="display:none;"

				      name="atInputer"


				      >

				    </textarea>



		<trix-editor

			  ref="trix"

			  	 :input="id"

			  	 @keydown = "$emit('customKeyDown', name)"



			  	 	 :placeholder="placeholder" >


			  	 	 </trix-editor>

	</div>


</template>

<script type="text/javascript">
import "jquery.caret";

import "at.js";

import Trix from "trix";

export default {
  props: ["name", "value", "placeholder", "id"],

  components: {
    Trix
  },

  data() {
    return {};
  },

  mounted() {
    this.$refs.trix.addEventListener("trix-change", e => {
      $("#atInputer").val(e.target.innerText);

      this.triggerAtJs();

      this.$emit("input", e.target.innerHTML);
    });
  },

  methods: {
    triggerAtJs() {
      // dd($('#atInputer').val(), 'iam value of atInputer');

      $("#atInputer").atwho({
        at: "@",

        delay: 700,

        callbacks: {
          remoteFilter: function(query, callback) {
            console.log("CALLED");

            $.getJSON("/api/users", { name: query }, function(usernames) {
              this.body = callback(usernames);

              //console.log(this.body);
            });
          }
        }
      });
    }
  }
};
</script>

<style type="text/css">
</style>
