<template>
  <card>


      <form method="POST"

                       class="form-orange"

                         action=""

                          @submit.prevent="persist"

                                    @keydown = "form.errors.clear($event.target.name)"

                                    @change = "form.errors.clear($event.target.name)"

                          >

            <div class="row">
             
             
              <div class="col-md-6">

                <div class="form-group">

                        <label for="course_id">


                              Choose course
                              <!-- {{ trans('courses.chooseCourse') }} -->

                              </label>

                        <select

                            id="course_id"

                              name="course_id"

                                @change="fetchPosition"

                                  v-model = "form.course_id"

                                    class="form-control"  >

                          <option :value="0">{{ trans('threads.choose') }}</option>


                          <option

                            v-for="course in courses"

                            :key="course.id"

                              :value="course.id"

                              v-text="course.name"

                            >


                          </option>

                        </select>

                    </div>

                    <p class="invalid-feedback"

                                  v-if="form.errors.has('course_id')"

                                  v-text= "form.errors.get('course_id')">

                                </p>

              </div>

              <div class="col-md-6">

                <div class="form-group">

                        <label for="course_id">


                            Topic Type
                              <!-- {{ trans('courses.chooseAchannel') }} -->

                              </label>

                        <select

                                @change="showAttachable"
                            id="attachableType"

                              name="attachableType"


                                  v-model = "form.attachableType"

                                    class="form-control"  >

                          <option :value="1">Text</option>
                          <option :value="2">Single image</option>
                          <option :value="3">multiple Images</option>
                          <option :value="4">Video</option>


                          <!-- <option

                            v-for="(channel, index) in channels"

                            :key="channel.id"

                              :value="channel.id"

                              v-text="channel.name"

                            >


                          </option> -->

                        </select>

                    </div>

                    <p class="invalid-feedback"

                                  v-if="form.errors.has('course_id')"

                                  v-text= "form.errors.get('course_id')">

                                </p>




              </div>



            </div>

            <div class="row">

              <div class="col-md-6 pr-md-1">

                  <div class="form-group">

                      <label for="title">


                        {{ trans('courses.englishName') }}

                      </label>

                      <input

                       type="text"

                        class="form-control"

                        name="name"

                          id="name"

                            v-model = "form.name"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('name')"

                                  v-text= "form.errors.get('name')">

                                </p>


              </div>

              <div class="col-md-6 pl-md-1">


                  <div class="form-group">

                      <label for="title">

                        {{ trans('courses.arabicName') }}

                      </label>

                      <input

                       type="text"

                        class="form-control"

                        name="name_ar"

                          id="name_ar"

                            v-model = "form.name_ar"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('name_ar')"

                                  v-text= "form.errors.get('name_ar')">

                                </p>


              </div>


            </div>



        <div class="row">

              <div class="col-md-6 pr-md-1">

                  <div class="form-group">

                      <label for="title">

                        English entroduction
                        <!-- {{ trans('courses.englishName') }} -->

                      </label>

                      <input

                       type="text"

                        class="form-control"

                        name="intro"

                          id="intro"

                            v-model = "form.intro"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('intro')"

                                  v-text= "form.errors.get('intro')">

                                </p>


              </div>

              <div class="col-md-6 pl-md-1">


                  <div class="form-group">

                      <label for="title">

                        arabic introduction
                        <!-- {{ trans('courses.arabicName') }} -->

                      </label>

                      <input

                       type="text"

                        class="form-control"

                        name="intro_ar"

                          id="intro_ar"

                            v-model = "form.intro_ar"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('intro_ar')"

                                  v-text= "form.errors.get('intro_ar')">

                                </p>


              </div>


            </div>


            <div class="row">

              <div class="col-md-10">

                   <div class="form-group">


                        <wysiwyg

                           :name="`description`"

                             @customKeyDown="handler"

                             :value="form.description"

                               v-model="form.description"

                                 :placeholder="`Course content description in english`"

                                   ref="descriptionTrix"


                                 ></wysiwyg>

                                 <p class="invalid-feedback"

                                  v-if="form.errors.has('description')"

                                  v-text= "form.errors.get('description')">

                                </p>



                      </div>


          

              </div>

              </div>


              <div class="row">

              <div class="col-md-10">

                   <div class="form-group">


                          <wysiwyg

                                    :name="`description_ar`"

                                      @customKeyDown="handler"

                                      :value="form.description_ar"

                                        v-model="form.description_ar"

                                          :placeholder="trans('courses.createDescription')"

                                            ref="descriptionTrixAr"


                                          ></wysiwyg>

                                          <p class="invalid-feedback"

                                              v-if="form.errors.has('description_ar')"

                                              v-text= "form.errors.get('description_ar')">

                                            </p>


                      </div>


          

              </div>


              


              </div>



               


              <div class="row">
              
            


               <div class="col-md-6">

                 <label for="position">


                        {{ trans('courses.position') }}


                      </label>

                      <select

                            id="postion"

                              name="postion"



                                v-model = "form.position"

                                  class="form-control"  >

                          <option value='' >{{ trans('threads.choose') }}</option>


                          <option

                            v-if="positions"

                            v-for="index in positions" :key="index"


                              :value="index"

                              v-text="index"

                            >


                          </option>

                        </select>

                      </div>


                        <p class="invalid-feedback"

                                  v-if="form.errors.has('position')"

                                  v-text= "form.errors.get('position')">

                                </p>
                
                
              

               <div class="col-md-6">

                  <div class="form-group">
                      
                      <label for="visibility">Visibility</label>
                      
                      <select 

                       id="visibility"

                       name="visibility"

                       class="form-control"

                       v-model="form.visibility"  

                       >
                      
                       <option value='' selected>Choose...</option>
                      
                       
                      
                       <option value="1">Private</option>

                       <option value="2">Unlisted</option>
                        
                       <option value="3">Public</option>

                      </select>

                  </div>


                  <p class="invalid-feedback"

                                    v-if="form.errors.has('visibility')"

                                    v-text= "form.errors.get('visibility')">

                                  </p>

                
       


              </div>

            </div>


                   <div class="row" >
                 
                 <div class="col-md-3">

                    <label for="custom-toggle">

                        {{ trans('channels.shortName') }}

                      </label>
                   

                 </div>

                 <div class="col-md-3">

                  <label class="custom-toggle">


                
                  <input type="checkbox" v-model="form.locked" >
                  
                  <span class="custom-toggle-slider rounded-circle"></span>
              
                </label>
                   

                 </div>


                 <p class="invalid-feedback"

                                    v-if="form.errors.has('locked')"

                                    v-text= "form.errors.get('locked')">

                                  </p>


               </div>

            </div>

            <button

                          style="margin: 10px;"

                            type="submit"

                              :disabled="form.errors.any()"

                                class="btn btn-primary">



                          {{ trans('threads.publish') }}

                        </button>



          </form>
  </card>
</template>




<script type="text/javascript">

import { mapActions, mapState, mapGetters, mapMutations } from "vuex";


export default {
  data() {
    return {
      form: new Form({
        course_id: '0',

        name: "",

        name_ar: "",

        intro: "",

        intro_ar: "",

        description: "",

        description_ar: "",

        attachableType: 1,

        image: null,

        position: "",

        visibility: "",

        locked: false
      }),

      positions: null,

      stored: false,

      storedTopic: null

    };
  },

  computed:{

     ...mapGetters(["courses"])
  },

  mounted() {
    

    this.fetchCourses();
  },

  methods: {

    showAttachable(){

      events.$emit('attachableType', this.form.attachableType)

    },


    fetchPosition() {
      let course = _.find(this.courses, ["id", this.form.course_id]);

      axios
        .get(`/api/courses/${course.slug}/position`)

        .then(({ data }) => {
          this.positions = data.position;
        })

        .catch(error => {
          dd(error, "iam error here of hitting channel end point");
        });
    },

    ...mapActions(["fetchCourses"]),

    persist() {
      this.form
        .post("/api/topics")

        .then(({ data }) => {
          this.stored = true;

          this.storedTopic = data;

          this.form.locked = false;

          this.$emit("posted", data);

          this.$toaster.success("Topics Created successfully");
        })

        .catch(error => {
          this.stored = false;

          this.$toaster.error("Something went wrong");
        });
    },

    handler(name) {
      this.form.errors.clear(name);
    }
  }
};
</script>


<style>
</style>
