<template>
 
  <card   



   type="course">
 
    <p class="card-text">
 
    </p>
 
    <div class="author">
 
      <div class="block block-one"></div>
 
      <div class="block block-two"></div>
 
      <div class="block block-three"></div>
 
      <div class="block block-four"></div>

        <!-- IF single image -->

        <!-- v-if=" type == 2" -->
        <course-image 

          :value="topicImage"

          :label="`Image`"

          @loaded="onLoad">
          
        </course-image>

        <br>

        <!-- If multiple images -->
        <!-- v-if=" type == 3"
									 -->
          <div id="my-strictly-unique-vue-upload-multiple-image" 
										  
                      	  
										  	style="display: flex; justify-content: center;"
										  

										  >
										  	<!-- v-if="stored" -->
											
											<vue-upload-multiple-image
												
												@upload-success="uploadImageSuccess"
											
													@before-remove="beforeRemove"
														
														@edit-image="editImage"
															
															@data-change="dataChange"
																
																:data-images="images"

																	:dragText="trans('threads.dragText')"

																		:browseText="trans('threads.browseText')"

																		 :primaryText="trans('threads.primaryText')"

																		 	:markIsPrimaryText="trans('threads.markIsPrimaryText')"

																			 	:popupText="trans('threads.markIsPrimaryText')"
												
													>
													
														</vue-upload-multiple-image>
										
										</div>

                    <br>

          <!-- If video -->

          <!-- :value="topic.is_youtube ? topic.yt_url : topic.awsLink" -->
          <!-- v-if="topic" -->
        <!-- v-if=" type == 4" -->
          <div  >

            <video-upload 

                :label="`Video`"

                  @loaded="onLoadVideo">
                
              </video-upload>


              <br>

              <!-- <youtube-video-upload
                :value="`fadsfds`"
                @loaded="onLoadYoutubeVideo"
              
               > </youtube-video-upload> -->
            
            </div>
           

         <bounce-loader 
								
								
									:loading="awsUploading"
                          
									:color="`#fd5d93`"

										v-if="awsUploading"	

											class="level p "
									
												>
									  	
										  </bounce-loader>


        

        <h5 class="title">Synac Topic name</h5>
 
 
      <p class="description">

        Synac Topic description
 
      </p>
 
    </div>
 
    <p></p>
 
    <p class="card-description">
 
      Synac Topic description here
 
    </p>
 
  </card>

</template>

<script>

import VueUploadMultipleImage from 'vue-upload-multiple-image'

import CourseImage from "../../../components/ImageUpload2";

import VideoUpload from "./VideoUpload";

import YoutubeVideoUpload from "./YoutubeVideoUpload";

export default {
  components: {
    VueUploadMultipleImage,
    CourseImage,
    VideoUpload,
    YoutubeVideoUpload
  },

  props: {
    topic: {
      type: Object,

      default: () => {
        return {};
      }
    },
    
  },

  data() {
    return {
      awsUploading: false,
      images: [],
      video: null,
      type: '0', 
    };
  },

  mounted(){

    events.$on('attachableType', type => this.type = type)
  },

  computed: {
    endpoint() {
      return `/api/topics/${this.topic.slug}/image`;
    },

    topicImage(){

      console.log('lovely topic');
      console.log(this.topic);

      if(this.topic.image_filename == '/images/avatar.svg' || !this.topic.image_filename ) return ''
      return this.topic.image_filename;
      

    },


    videoEndpoint() {
      return `/api/topics/${this.topic.slug}/video`;
    },

    youtubeVideoEndpoint() {
      return `/api/topics/${this.topic.slug}/youtube/video`;
    },

    imagesEndPoint(){

      return `/api/topics/${this.topic.slug}/images`;

		}
  },

  methods: {
    onLoad(image) {
      this.persist(image.file);
    },

    onLoadVideo(video) {
      this.persistVideo(video.file);
    },

    onLoadYoutubeVideo(urlText){

      axios
        .post(this.youtubeVideoEndpoint, {
          "link": urlText
        })

        .then(() => {
          this.$toaster.success("Youtube Video Uploaded!.");

          this.awsUploading = false;
        });

    },

    persistVideo(video) {
      this.awsUploading = true;

      let data = new FormData();

      data.append("video", video);

      // data.append("uid", this.video.uid);

      axios
        .post(this.videoEndpoint, data)

        .then(() => {
          this.$toaster.success("Video Uploaded!.");

          this.awsUploading = false;
        });
    },

    persist(image) {
      let data = new FormData();

      data.append("image", image);

      axios
        .post(this.endpoint, data)

        .then(() => {
          this.$toaster.success("Course Image Uploaded!.");
        });
    },

    uploadImageSuccess(formData, index, fileList) {
				// Upload image api				
				axios.post(this.imagesEndPoint, formData).then(response => {
				
					// $('#closeThreadModal').trigger('click')

				  console.log(response)
				
				}).catch(error => {

					console.log(error)

				})
				
      },
      
      beforeRemove (index, done, fileList) {
				
				console.log('index', index, fileList)
				
				var r = confirm("remove image")
				
				if (r == true) {
				
				done()
				
				} else {
				
				}
			
			},
			
			editImage (formData, index, fileList) {
			
				console.log('edit data', formData, index, fileList)
			
			},
			
			dataChange (data) {
			
				console.log(data)
			
			}
  }
};
</script>

<style>
</style>
