<template>


	<div>

		

			<video-preview

				class="image" 
				
					v-if="video" 

						:preview="video" 

							@close="mutate" 
				 >
					

				</video-preview>
			

		

		<div v-else

			class="image__upload" 
			>

      {{ label }}

			<input type="file"   accept="video/*"   @change="onChange">
      
		
		</div>


	</div>
	
	



</template>


<script type="text/javascript">
import videoPreview from "./VideoPreview.vue";

export default {
  props: {
    value: {
      type: [String, File],

      default: null
    },
    label:{
      type:[String], 
      default: null
    }
  },

  data() {
    return {
      video: this.value
    };
  },

  components: {
    videoPreview
  },

  methods: {
    onChange(e) {
      if (!e.target.files.length) return;

      let file = e.target.files[0];

      let reader = new FileReader();

      reader.readAsDataURL(file);

      // console.log(reader);
      reader.onload = e => {
        this.video = e.target.result;

        let src = e.target.result;

        this.$emit("loaded", {
          src,
          file
        });
      };
    },

    mutate() {
      this.video = null;

      this.$emit("close");
    }
  }
};
</script>
