<template>


	<div>

		

			<video-preview

				class="image" 
				
					v-if="video" 

						:preview="video" 

							@close="mutate" 
				 >
					

				</video-preview>
			

		

		<div v-else

			class="image__upload" 
			>
    <!-- @change="onChange" -->
			<input type="text" . v-model="youtubeLink"     >

      <button @click="presist" ></button> 
      
		
		</div>


	</div>
	
	



</template>


<script type="text/javascript">
import videoPreview from "./VideoPreview.vue";

export default {
  props: {
    value: {
      type: [String, File],

      default: null
    }
  },

  data() {
    return {
      video: this.value, 
      youtubeLink: null
    };
  },

  components: {
    videoPreview
  },

  methods: {
    onChange(e) {
      if (!e.target.files.length) return;

      let file = e.target.files[0];

      let reader = new FileReader();

      reader.readAsDataURL(file);

      // console.log(reader);
      reader.onload = e => {
        this.video = e.target.result;

        let src = e.target.result;

        this.$emit("loaded", {
          src,
          file
        });
      };
    },

    presist(){

      if( !this.youtubeLink) return ;
      this.$emit("loaded", this.youtubeLink)

    },

    mutate() {
      this.video = null;

      this.$emit("close");
    }
  }
};
</script>
