<template>

  <card>
    

      <form 

          method="POST"

            class="form-orange"

              action=""

                  @submit.prevent="persist"
                  
                      @keydown = "form.errors.clear($event.target.name)"

                          @change = "form.errors.clear($event.target.name)"

                          >

            <div class="row">
              <div class="col-md-12">
                

                <div class="form-group">
                    
                        <label for="channel_id">

                             

                              {{ trans('courses.chooseAchannel') }}

                              </label>
                    
                        <select 

                            id="channel_id" 

                              name="channel_id" 

                                @change="fetchPosition"

                                  v-model = "form.channel_id"

                                    class="form-control"  >
                    
                          <option :value="0">{{ trans('threads.choose') }}</option>
                    
                                            
                          <option 
                            
                            v-for="(channel, index) in channels"
                            
                            :key="channel.id"
                              
                              :value="channel.id"  

                              v-text="channel.name"

                            >
                              

                          </option>
                    
                        </select>
                    
                    </div>

                    <p class="invalid-feedback"  

                                  v-if="form.errors.has('channel_id')"     

                                  v-text= "form.errors.get('channel_id')">
                                
                                </p>




              </div>
            </div>
          
            <div class="row">
              
              <div class="col-md-6 pr-md-1">
                  
                  <div class="form-group">
                    
                      <label for="title">


                        {{ trans('courses.englishName') }}

                      </label>
                    
                      <input

                       type="text" 
                    
                       v-if="ready"

                        class="form-control" 
                          
                        name="name" 
                      
                          id="name" 

                            v-model = "form.name"
                      
                      >

                    </div>

                      <p class="invalid-feedback"  

                                  v-if="form.errors.has('name')"     

                                  v-text= "form.errors.get('name')">
                                
                                </p>


              </div>
              
              <div class="col-md-6 pl-md-1">
                

                  <div class="form-group">
                    
                      <label for="title">

                        {{ trans('courses.arabicName') }}

                      </label>
                    
                      <input

                       type="text" 

                       v-if="ready"
                    
                        class="form-control" 
                          
                        name="name_ar" 
                      
                          id="name_ar" 

                            v-model = "form.name_ar"
                                                    
                      >

                    </div>

                      <p class="invalid-feedback"  

                                  v-if="form.errors.has('name_ar')"     

                                  v-text= "form.errors.get('name_ar')">
                                
                                </p>


              </div>


            </div>
            
           
             <div class="row">

              <div class="col-md-10">

                   <div class="form-group">


                        <wysiwyg

                           :name="`description`"

                           :id="`description`"


                            v-if="ready"



                             :value="form.description"

                               v-model="form.description"

                                 :placeholder="`Course content description in english`"

                                   ref="descriptionTrix"


                                 ></wysiwyg>

                                 <p class="invalid-feedback"

                                  v-if="form.errors.has('description')"

                                  v-text= "form.errors.get('description')">

                                </p>


                                 <wysiwyg

                                    :name="`description_ar`"

                                    :id="`description_ar`"


                                    v-if="ready"

                                      :value="form.description_ar"

                                        v-model="form.description_ar"

                                          :placeholder="trans('courses.createDescription')"

                                            ref="descriptionTrixAr"


                                          ></wysiwyg>

                                          <p class="invalid-feedback"

                                              v-if="form.errors.has('description_ar')"

                                              v-text= "form.errors.get('description_ar')">

                                            </p>

                      </div>


          

              </div>


              


              </div>

                          <div class="row">
              
            


               <div class="col-md-6">

                 <label for="position">


                        {{ trans('courses.position') }}


                      </label>

                      <select

                            id="postion"

                              name="postion"



                                v-model = "form.position"

                                  class="form-control"  >

                          <option value='' selected>{{ trans('threads.choose') }}</option>


                          <option

                            v-if="positions"

                            v-for="index in positions" :key="index"


                              :value="index"

                              v-text="index"

                            >


                          </option>

                        </select>

                      </div>


                        <p class="invalid-feedback"

                                  v-if="form.errors.has('position')"

                                  v-text= "form.errors.get('position')">

                                </p>
                
                
              

               <div class="col-md-6">

                  <div class="form-group">
                      
                      <label for="visibility">Visibility</label>
                      
                      <select 

                       id="visibility"

                       name="visibility"

                       class="form-control"

                       v-model="form.visibility"  

                       >
                      
                       <option value='' selected>Choose...</option>
                      
                       
                      
                       <option value="1">Private</option>

                       <option value="2">Unlisted</option>
                        
                       <option value="3">Public</option>

                      </select>

                  </div>


                  <p class="invalid-feedback"

                                    v-if="form.errors.has('visibility')"

                                    v-text= "form.errors.get('visibility')">

                                  </p>

                
       


              </div>

            </div>


                   <div class="row" >
                 
                 <div class="col-md-3">

                    <label for="custom-toggle">

                        {{ trans('courseVideos.locked') }}

                      </label>
                   

                 </div>

                 <div class="col-md-3">

                  <label class="custom-toggle">


                
                  <input type="checkbox" v-model="form.locked" >
                  
                  <span class="custom-toggle-slider rounded-circle"></span>
              
                </label>
                   

                 </div>


                 <p class="invalid-feedback"

                                    v-if="form.errors.has('locked')"

                                    v-text= "form.errors.get('locked')">

                                  </p>


               </div>

            <button 

                          style="margin: 10px;" 

                            type="submit" 

                              :disabled="form.errors.any()"

                                class="btn btn-primary">

                          

                          {{ trans('threads.publish') }}  

                        </button>

            

          </form>
  </card>
</template>




<script type="text/javascript">
export default {
  data() {
    return {
      old: [],

      form: new Form({
        channel_id: "0",

        name: "",

        name_ar: "",

        description: "",

        description_ar: "",

        image: null,

        position: null,

        visibility: "",

        locked: false
      }),

      positions: null,

      channels: [],

      ready: false,

      failed: false,

      saveStatus: "",

      updated: false,

      new: null
    };
  },

  async mounted() {
    await this.fetchChannels();
    this.fetchCourseData();
    // Promise.all([, ]);

  },

  computed: {
    courseEndPoint() {
      return `/api/courses/${this.$route.params.slug}`;
    }
  },

  methods: {
    fetchCourseData() {
      axios
        .get(this.courseEndPoint)

        .then(({ data }) => {
          this.old = data.course;

          this.form = new Form({
            channel_id: data.course.channel_id,

            name: data.course.name,

            name_ar: data.course.name_ar,

            description: data.course.description,

            description_ar: data.course.description_ar,

            image: "",

            position: data.course.position,

            visibility: data.course.visibility,

            locked: data.course.locked
          });

          this.fetchPosition();

          this.ready = true;
        })

        .catch(error => {
          dd(error, "iam error here of hitting channel end point");
        });
    },

    fetchPosition() {
    
      let channel = _.find(this.channels, ["id", this.form.channel_id]);
      axios
        .get(`/api/channels/${channel.slug}/position`)

        .then(({ data }) => {
          this.positions = data.position;
        })

        .catch(error => {
          dd(error, "iam error here of hitting channel end point");
        });
    },

    async fetchChannels() {

      try {

       let { data } = await axios.get("/api/channels"); 
        this.channels = data.channels;
        
      } catch (error) {
        dd(error, "iam error here of hitting channel end point");
      }

      // axios
      //   .get("/api/channels")

      //   .then(({ data }) => {
      //     this.channels = data.channels;
      //   })
      //   .catch(error => {
      //     dd(error, "iam error here of hitting channel end point");
      //   });
    },

    persist() {
      this.failed = false;

      this.form
        .patch(this.courseEndPoint)

        .then(({ data }) => {
          this.updated = true;

          this.new = data.newCourseData;

          this.$emit("posted", data.newCourseData);

          this.$toaster.success("Course Updated successfully");
        })

        .catch(error => {
          this.failed = true;

          this.$toaster.error("Something went wrong");
        });
    }
  }
};
</script>


<style>
</style>
