<template>
  <div>
    <notifications></notifications>
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<script>
export default {
  methods: {
    disableRTL() {
      if (!this.$rtl.isRTL) {
        this.$rtl.disableRTL();
      }
    },
    toggleNavOpen() {
      let root = document.getElementsByTagName("html")[0];
      root.classList.toggle("nav-open");
    }
  },
  mounted() {
    this.$watch("$route", this.disableRTL, { immediate: true });
    this.$watch("$sidebar.showSidebar", this.toggleNavOpen);
  }
};
</script>

<style lang="css">

.form-control {
    border-color: #2b3553;
    color: #525f7f !important;
    /* background: #525f7f !important; */
    border-radius: 0.4285rem;
}



.image__upload{
  width: 100px;
    height: 100px;
    border: 2px dashed;
    margin: 0px !important;
    /* margin-left: 0px; */
    width: inherit;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

</style>
