<template>

    <div class="row">

        <div class="col-12">

          <div class="card card-white">

            <div class="card-header border-0">


              <h5 class="title">Forum Courses</h5>

              <p class="category">

                Do you want to add new One

                <a href="https://nucleoapp.com/?ref=1712">



                </a>



                <router-link  :to="`course/create`">

                  ADD

                </router-link>



              </p>


              <div class="form-group">

                        <label for="channel_id">



                              {{ trans('courses.chooseAchannel') }}

                              </label>

                        <select

                            id="channel_id"

                              name="channel_id"

                                @change="filter"

                                  v-model = "channel_id"

                                    class="form-control"  >

                          <option :value="0"> {{ trans('threads.choose') }}</option>


                          <option

                            v-for="(channel) in channels"

                            :key="channel.id"

                              :value="channel.id"

                              v-text="channel.name"

                            >


                          </option>

                        </select>

                    </div>

            </div>


            <div class="card-body all-icons">

            <div class="table-responsive">

              <table class="table align-items-center table-flush white">

                <thead class="thead-light">

                  <tr>

                    <th scope="col">Course</th>

                    <th scope="col">Actions</th>

                    <th scope="col"> Upload </th>

                    <th scope="col">Locked </th>

                    <th scope="col">Channel</th>

                    <th scope="col">Status</th>

                    <th scope="col">Users</th>

                    <th scope="col">Completion</th>

                  </tr>

                </thead>

                <tbody v-if="courses">

                  <tr v-for="(course, index) in courses" :key="index" >

                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="rounded-circle mr-3">
                          <img alt="Image placeholder"

                            :src="course.image_filename"

                          >

                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm"> {{ course.name  }}  </span>
                        </div>
                      </div>
                    </th>

                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <router-link
                                  class="dropdown-item"
                                     :to="{ path: 'videos', query: { id: course.id }}"
                                    >
                            Browse videos
                          </router-link>

                          <router-link
                                  class="dropdown-item"
                                    :to="{ path: 'topics', query: { id: course.id }}">
                            Browse words
                          </router-link>


                          <router-link
                                  class="dropdown-item"
                                    :to="`course/update/${course.slug}`">
                            update
                          </router-link>

                          <a class="dropdown-item" href="#" @click.prevent="destory(course)"
                           >destory</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </td>

                    <td>

                        <upload-btn

                            v-if="course"

                              :course="course">


                              </upload-btn>

                    </td>


                    <td>
                      <div class="row" >

                 <div class="col-md-3">
                 </div>

                 <div class="col-md-3">

                  <label class="custom-toggle">


                  <input type="checkbox"  v-model="course.locked" @change="mutateLock(course)">


                  <span class="custom-toggle-slider rounded-circle"></span>

                </label>

                 </div>
                                    <!-- v-if="form.errors.has('locked')" -->
                                    <!-- v-text= "form.errors.get('locked')"> -->
                 <p class="invalid-feedback" >
                                  </p>
                </div>
                    </td>



                    <td>


                      {{ course.channel.name  }}



                    </td>



                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i> pending
                      </span>
                    </td>
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">60%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>

                  </tr>

                </tbody>
              </table>
            </div>

            </div>

            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fa fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fa fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>




    </div>
</template>
<script>
import { BaseTable } from "../../components";

import uploadBtn from "../../components/BtnUpload.vue";

const tableColumns = [
  "Course",
  "Budget",
  "Channel",
  "Status",
  "Users",
  "Completion"
];

import { mapActions, mapState, mapGetters, mapMutations } from "vuex";

export default {
  components: {
    BaseTable,
    uploadBtn
  },

  data() {
    return {
      table1: {
        title: "Simple Table",

        columns: [...tableColumns]
      },

      channel_id: 0

      // courses: [],
      // channels : [],

      // whole : []
    };
  },

  async mounted() {
    await Promise.all([this.fetchChannels(), this.fetchCourses()]);

    if(this.$route.query.id) {
       this.channel_id = parseInt(this.$route.query.id)
       this.filter();
    }

  },

  computed: {
    ...mapGetters(["courses", "channels", "whole"])

    // endPoint(){

    //   return `/courses/list`;

    // }
  },


  methods: {
    ...mapMutations(["filterCourses"]),

    ...mapActions(["fetchChannels", "fetchCourses"]),

      async destory(course){
      // Call api to delete topic
      let url = `/api/courses/${course.slug}`;
      try {
        await axios.delete(url);
        let index = this.courses.findIndex((c)=> {
          return c.id == course.id
        });
        this.courses.splice(index, 1);

      } catch (error) {

      }

    },

    filter() {
      this.$store.commit("filterCourses", this.channel_id);
    },
    async mutateLock(course){

       let url = `/api/courses/${course.slug}/lock`;
        try {
          await axios.post(url,{
            'status': course.locked
          });
          // let index = this.courses.findIndex((c)=> {
          //   return c.id == course.id
          // });

          // this.courses.splice(index, 1);

        } catch (error) {

        }


    }

    // filter(){

    //   if(! this.channel_id){

    //     this.courses = this.whole;

    //     return ;

    //   }

    //   let that = this;
    //   this.courses =  _.filter(this.whole, function(course){

    //     return course.channel.id == that.channel_id;

    //   });

    // },

    // fetch(){

    //   axios.get(this.endPoint)

    //       .then(({data}) => {

    //         console.log('here data courses');
    //         console.log(data.courses);

    //          let maped =  _.map(data.courses,(course) =>{

    //             return course[0];

    //         } );

    //         this.courses = maped;
    //         this.courses = maped;
    //         this.courses = maped;

    //         this.whole = maped;

    //       })

    //       .catch(error => {

    //         dd(error , 'iam error here');

    //       })

    // },

    // fetchChannels(){

    //     axios.get('/api/channels')

    //       .then( ({data}) => {

    //         dd(data.channels, "iam data here");

    //         this.channels = data.channels;

    //       })
    //       .catch(  error => {

    //         dd(error, 'iam error here of hitting channel end point');

    //       });

    //   },
  }
};
</script>
<style lang="css">
  img{
    width: 100px !important;
    /* height: 80px; */
  }
</style>
