
/*
 =========================================================
 * Black Dashboard - v1.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/black-dashboard
 * Copyright 2018 Creative Tim (http://www.creative-tim.com)


 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

 @import "../css/argon.css";

 
 // Core
 
 @import "black-dashboard/custom/functions";
 @import "black-dashboard/bootstrap/functions";
 
 @import "black-dashboard/custom/variables";
 @import "black-dashboard/bootstrap/variables";
 
 @import "black-dashboard/custom/mixins";
 @import "black-dashboard/bootstrap/mixins";
 
 // Bootstrap components
 
 @import "black-dashboard/bootstrap/root";
 @import "black-dashboard/bootstrap/reboot";
 @import "black-dashboard/bootstrap/type";
 @import "black-dashboard/bootstrap/images";
 @import "black-dashboard/bootstrap/code";
 @import "black-dashboard/bootstrap/grid";
 @import "black-dashboard/bootstrap/tables";
 @import "black-dashboard/bootstrap/forms";
 @import "black-dashboard/bootstrap/buttons";
 @import "black-dashboard/bootstrap/transitions";
@import "black-dashboard/bootstrap/dropdown";
@import "black-dashboard/bootstrap/button-group";
@import "black-dashboard/bootstrap/input-group";
@import "black-dashboard/bootstrap/custom-forms";
@import "black-dashboard/bootstrap/nav";
@import "black-dashboard/bootstrap/navbar";
@import "black-dashboard/bootstrap/card";
@import "black-dashboard/bootstrap/breadcrumb";
@import "black-dashboard/bootstrap/pagination";
@import "black-dashboard/bootstrap/badge";
@import "black-dashboard/bootstrap/jumbotron";
@import "black-dashboard/bootstrap/alert";
@import "black-dashboard/bootstrap/progress";
@import "black-dashboard/bootstrap/media";
@import "black-dashboard/bootstrap/list-group";
@import "black-dashboard/bootstrap/close";
@import "black-dashboard/bootstrap/modal";
@import "black-dashboard/bootstrap/tooltip";
@import "black-dashboard/bootstrap/popover";
@import "black-dashboard/bootstrap/carousel";
@import "black-dashboard/bootstrap/utilities";
@import "black-dashboard/bootstrap/print";

// Custom components

@import "black-dashboard/custom/alerts.scss";
@import "black-dashboard/custom/buttons.scss";
@import "black-dashboard/custom/dropdown.scss";
@import "black-dashboard/custom/footer.scss";
@import "black-dashboard/custom/forms.scss";
@import "black-dashboard/custom/images.scss";
@import "black-dashboard/custom/modal.scss";
@import "black-dashboard/custom/navbar.scss";
@import "black-dashboard/custom/type.scss";
@import "black-dashboard/custom/tables";
@import "black-dashboard/custom/checkboxes-radio";
@import "black-dashboard/custom/fixed-plugin";
@import "black-dashboard/custom/sidebar-and-main-panel.scss";
@import "black-dashboard/custom/misc.scss";
@import "black-dashboard/custom/rtl.scss";
@import "black-dashboard/custom/input-group.scss";


// Vendor / Plugins

@import "black-dashboard/custom/vendor/plugin-perfect-scrollbar.scss";
@import "black-dashboard/custom/vendor/plugin-animate-bootstrap-notify.scss";

// light mode

@import "black-dashboard/custom/white-content.scss";

// Cards

@import 'black-dashboard/custom/card';
@import "black-dashboard/custom/cards/card-chart";
@import "black-dashboard/custom/cards/card-map";
@import "black-dashboard/custom/cards/card-user";
@import "black-dashboard/custom/cards/card-task";
@import "black-dashboard/custom/cards/card-plain";




.full-page > .content:first-of-type {
    padding-top: 20vh;
}


.wrapper.wrapper-full-page {
    min-height: 100vh;
    height: auto;
}

.full-page > .content {
    min-height: calc(100vh - 70px);
    z-index: 4;
    position: relative;
}


.full-page .full-page-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;

}


.full-page[data-image]:after, .full-page.has-image:after {
    opacity: .77;
}
.full-page[data-color="purple"]:after {
    background: #9368E9;
    background: -moz-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9368E9), color-stop(100%, #943bea));
    background: -webkit-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: -o-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: -ms-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: linear-gradient(to bottom, #9368E9 0%, #943bea 100%);
    background-size: 150% 150%;
}


.full-page:before, .full-page:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

// ATH custumization
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a{
    
    font-size: 1rem !important;
}
